.lists{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note.new{
    background-color: #67d7cc;
}
textarea{
    background-color: #67d7cc;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
}
.save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.save:hover{
    background-color: #ededed;
     
}
.note{
    background-color: #f6f68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete{
    cursor: pointer;
     
}
.delete:hover{
    transition: all 0.3s linear;
    transform: scale(1.4);
}

.search{
    display: flex;
    align-items: center;
    background-color: rgb(233,233,233);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2em;

}
#toggle{
    width: 50px;
}
#toggle-circle{
    display: flex;
    border-radius: 50%;
    justify-content: flex-start;
    background-color: black;
    width: 10px;
    transition: all 0.3s linear;
    height: 10px;
}


.search input{
    border: none;
    width: 100vw;
    background-color: rgb(233,233,233);
}
.search input:focus{
    outline: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dark-mode {
    background-color: black;
    min-height: 100vh;
}

.dark-mode h1{
    color: white;
}
.dark-mode #toggle-circle{
    display: flex;
    transition: all 0.3s linear;
    transform: translateX(20px);
    background-color: rgb(236, 12, 12);
    justify-content: flex-end;
}